@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("/styles/index/lightmode.css");

@import url("/styles/index/fontawsome.css");
@import url("/styles/index/dashicons.css");
.swiper-wrapper{
    transform: translateX(0) !important;
}
.chfiv li{
    flex-direction: row;
    display: flex;
    gap: 3px;
}
.chfiv span{
   font-size: xx-small; 
}

.tt{
    text-align: right !important;
   
}
@media only screen and (max-width: 300px){
    .centernav header{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .th .centernav{
        display: flex;
        padding: 0 5px;
        justify-content: space-between;
    }
   
    .searchx{
       width: 0;
       max-width: 250px;
       flex-grow: 1;
    }
    swiper-container{
        height: 250px !important;
    }
	.mainslider{
        height: 250px !important;
    }
}
.mainslider{
    height: 550px;
}
.mainslider .limit{
    
    height: 100% !important;
}

#swiper-container{
    display: block;
    height: 550px;
    overflow: hidden;
}





#home-slider{
    width: 100%;
    height: 100%;
    display: flex;
    max-height: 100%;
    overflow: hidden;
  }
  #slider-container{
   
    height: 100%;
    display: flex;
    max-height: 100%;
    overflow: hidden;
  
  }
  .swiper-slide{
    width: 100% !important;
    
    display: inline-block;
  }